Source: indi-astroberry-diy
Section: science
Priority: extra
Maintainer: Radek Kaczorek <rkaczorek@gmail.com>
Build-Depends: debhelper (>= 9), cdbs, cmake (>= 2.4.7), libindi-dev, libgpiod-dev
Standards-Version: 3.9.1

Package: indi-astroberry-diy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgpiod2, gpiod, libindi1
Description: INDI Driver for Astroberry DIY devices
 Astroberry Focuser - stepper motor driver with absolute and relative position capabilities and autofocus
 Astroberry Relays - relays switch board allowing for remote switching up to 4 devices
 Astroberry System - system parameters monitoring
 .
 This driver is compatible with any INDI client such as KStars or Xephem.

Package: indi-astroberry-diy-dbg
Priority: extra
Section: debug
Architecture: any
Depends: indi-astroberry-diy (= ${binary:Version}), ${misc:Depends}
Description: INDI Driver for Astroberry DIY devices
 Astroberry Focuser - stepper motor driver with absolute and relative position capabilities and autofocus
 Astroberry Relays - relays switch board allowing for remote switching up to 4 devices
 Astroberry System - system parameters monitoring
 .
 This driver is compatible with any INDI client such as KStars or Xephem.

